@import 'nullstyle';
@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.__conteiner {
    max-width: 1308px;
    margin: 0px auto;
}

// hewder

.header {
    height: 125px;

        .header__conteiner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 125px;
        }

        ul {
            display: flex;
            width: 552px;
            justify-content: space-between;
        }

        li {
            font-size: $size-of-description;
            font-weight: $main-font-weight;

                a {
                    color: $main-text-color;
                }
        }

        .header__btn {
            display: inline-block;
            padding: 10px 32px;
            background-color: $btn-of-order-color;
            border-radius: 10px;
            color: $main-text-color;
            font-weight: $main-font-weight;
            font-size: $size-of-description;
        }
}


// banner


.banner {
    background-image: url(../img/banner/Tracé1.png);
    background-repeat: no-repeat;
}

.banner__conteiner {
    display: flex;
    justify-content: space-between;

        .banner__description {
            margin-top: 142px;
        }

        h1 {
            font-size: $size-of-title;
            color: $main-text-color;
            font-weight: $title-font-weight;
        }

        p {
            @include blocksSubtitleStyles;
            margin-top: 20px;
        }

        a {
            margin-top: 20px;
            display: inline-block;
            padding: 8px 26px;
            background-color: $btn-of-bunner-color;
            border-radius: 10px;
            color: $main-text-color;
            font-weight: $main-font-weight;
            font-size: $size-of-description;
        }

        img {
            display: inline-block;
            margin-top: 50px;
        }
}


// ingredients


.ingredients__conteiner {
    text-align: center;

        h2 {
            margin-top: 150px;
            @include blocksTitleStyles;
        }

        .ingredients__subtitle {
            @include blocksSubtitleStyles;
            display: inline-block;
            width: 690px;
            margin-top: 20px;
        }

        .list {
            display: flex;
            justify-content: space-around;
        }

        .list__card {
            margin-top: 50px;
            @include cardsStyles;
            width: 230px;
            height: 240px;
        }

        img {
            padding: 20px;
        }

        h3 {
            color: $main-text-color;
            font-weight: $main-font-weight;
            font-size: $size-of-description;
        }

        .ingredients__text {
            width: 894px;
            display: inline-block;
            @include descStyles;
            margin-top: 50px;
        }
}


// 





