@import 'nullstyle';
@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: Poppins;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.__conteiner {
    max-width: 1308px;
    margin: 0px auto;
}

// hewder

.header {
    height: 125px;

        .header__conteiner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 125px;
        }

        ul {
            display: flex;
            width: 552px;
            justify-content: space-between;
        }

        li {
            font-size: $size-of-description;
            font-weight: $main-font-weight;

                a {
                    color: $main-text-color;
                }
        }

        .header__btn {
            display: inline-block;
            padding: 10px 32px;
            background-color: $btn-of-order-color;
            border-radius: 10px;
            color: $main-text-color;
            font-weight: $main-font-weight;
            font-size: $size-of-description;
        }
}


// banner


.banner {
    background-image: url(../img/banner/Tracé1.png);
    background-repeat: no-repeat;
}

.banner__conteiner {
    display: flex;
    justify-content: space-between;

        .banner__description {
            margin-top: 142px;
        }

        h1 {
            font-size: $size-of-title;
            color: $main-text-color;
            font-weight: $title-font-weight;
        }

        p {
            @include blocksSubtitleStyles;
            margin-top: 20px;
        }

        a {
            margin-top: 20px;
            display: inline-block;
            padding: 8px 26px;
            background-color: $btn-of-bunner-color;
            border-radius: 10px;
            color: $main-text-color;
            font-weight: $main-font-weight;
            font-size: $size-of-description;
        }

        img {
            display: inline-block;
            margin-top: 50px;
        }
}


// ingredients


.ingredients__conteiner {
    text-align: center;

        h2 {
            margin-top: 150px;
            @include blocksTitleStyles;
        }

        .ingredients__subtitle {
            @include blocksSubtitleStyles;
            display: inline-block;
            width: 690px;
            margin-top: 20px;
        }

        .list {
            display: flex;
            justify-content: space-around;
        }

        .list__card {
            margin-top: 50px;
            @include cardsStyles;
            width: 230px;
            height: 240px;
        }

        img {
            padding: 20px;
        }

        h3 {
            color: $main-text-color;
            font-weight: $main-font-weight;
            font-size: $size-of-description;
        }

        .ingredients__text {
            width: 894px;
            display: inline-block;
            @include descStyles;
            margin-top: 50px;
            line-height: 27px;
        }
}


// Story


.story {
    margin-top: 150px;
}

.story__conteiner {
    display: flex;
    justify-content: space-between;

        h2 {
            @include blocksTitleStyles;
        }

        .story__subtitle {
            @include blocksSubtitleStyles;
            margin-top: 20px;
            width: 668px;
            line-height: 27px;
        }

        .story__text {
            @include descStyles;
            margin-top: 50px;
            line-height: 27px;
        }

        img {
            height: 380px;
        }
}


// Burgers


.burgers__conteiner {

        h2 {
            text-align: center;
            margin-top: 150px;
            @include blocksTitleStyles;
        }

        .list {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
        }

        .burgers__card {
            @include cardsStyles;
            width: 420px;
            height: 400px;
        }

        h3 {
            @include blocksSubtitleStyles;
            text-align: center;
            margin-top: 20px;
        }

        img {
            display: inline-block;
            padding: 60px 110px 42px 110px;
        }

        a {
            display: block;
            text-align: right;
            margin-top: 26px;
            margin-right: 20px;
            font-size: $size-of-description;
            color: $details-button-color;
            font-weight: $main-font-weight;
        }

        .burgers__btn {
            display: inline-block;
            padding: 10px 32px;
            background-color: $btn-of-order-color;
            border-radius: 10px;
            color: $main-text-color;
            font-weight: $main-font-weight;
            font-size: $size-of-description;
            margin-left: 590px;
            margin-top: 50px;
        }
}


// Location


.location__container {
    margin: 0 auto;
    max-width: 860px;
    margin-top: 156px;

        h2 {
            @include blocksTitleStyles;
            text-align: center;
        }

        ul {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }

        li {
            @include blocksSubtitleStyles;
            font-weight: $secondary-font-weight
        }

        .location__item_bold {
            @include blocksSubtitleStyles;
            font-weight: $main-font-weight;
        }

        iframe {
            margin-top: 30px;
            border-radius: 30px;
        }
}


// footer


.footer {
    background-color: #F5F5F5;
    height: 125px;
    margin-top: 150px;

        .footer__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        li {
            font-size: $footer-size;
            font-weight: $secondary-font-weight;
            color: $main-text-color;
        }

        .footer__item_bold {
            font-weight: $main-font-weight;
        }
}


// pop-up


.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    animation-name: fadeIn;
  animation-duration: 0.5s;
  }
  
  .popup-content {
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: #afe9fe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    animation-name: slideIn;
  animation-duration: 0.5s;
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes slideIn {
    from {transform: translateY(-50%); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
  }
  
  .close {
    text-align: right;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  input {
    display: block;
    width: 200px;
    margin-bottom: 15px;
    border: #888 solid;
    border-radius: 15px;
  }

  button {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 32px;
    background-color: $btn-of-order-color;
    border-radius: 10px;
    color: $main-text-color;
    font-weight: $main-font-weight;
    font-size: $size-of-description;
  }





