// Font size

$size-of-title: 84px;
$size-of-blocks-title: 64px;
$size-of-subtitle: 24px;
$size-of-description: 18px;
$footer-size: 14px;


// Text color

$main-text-color: #2A2A2A;
$details-button-color: #008BF6;


// Btn color

$btn-of-order-color: #00B3FA;
$btn-of-bunner-color: #F6E224;


// Font weight

$main-font-weight: 700;
$secondary-font-weight: 400;
$title-font-weight: 900;


// Font-family

$font-poppins: PT Sans;